<%= form_for(@message) do |f| %>
	<%= render 'shared/bootstrap/input_field', function: f, tag: :content, symbol: "", type: "text_area" %> 
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
