%h1 Latest Messages
%br
.row-fluid
  .span8
    #messages
      = render @messages
  .span1
  .span3
    - if !@tags.nil?
      = render 'layouts/tagbar'
    %br
    %h3 Write a Message
    = render 'form'
      