%h1 Weekly Calendar
#weekcalendar.calendar
  =render 'week_calendar_hours'
  -(1..7).each do |day|
    .day{:id => "day-#{day}", :onclick => "window.location = '#{new_event_path}'"}
      .weekday
        =Time.at(((24*(3+day))-1)*60*60).strftime("%A")
      - a = Date.commercial(@year,@weeknr, day).to_time
      =render @events, :day => a..a.end_of_day