<h2> Sign up </h2>

<div class="fluid-row">
  <div class="span7">
    <div class="form-horizontal">
      <%= render 'fields' %>
    </div>
   </div><!-- END SPAN6 -->
  <div class="span5">
    <%= render 'shared/error_messages' %>
  </div>
</div>
