<!-- NAVIGATION RIGHT -->
<div class="span2 sidebar-nav">
  <ul class="nav nav-list nav-pills nav-stacked">
    <li class="nav-header">Navigation</li>
    <li <% if controller.controller_name == "home"%>class="active"<% end %>>
      <a href="#">
        <i class="icon-home"></i>
        Home
      </a>
    </li>
    <li <% if controller.controller_name == "messages"%>class="active"<% end %>>
      <a href="<%= messages_path %>">
        <i class="icon-envelope"></i>
        Messages
      </a>
    </li>
    <li <% if controller.controller_name == "calender"%>class="active"<% end %>>
      <a href="#">
        <i class="icon-book"></i>
        Calender
      </a>
    </li>
    <li <% if controller.controller_name == "users" && controller.action_name == "edit" %> class="active" <% end %>>
      <a href="<%= edit_user_path(@user) %>">
        <i class="icon-cog"></i>
        Settings
      </a>
    </li>
  </ul>
</div> <!-- END NAVIGATION -->
